.App {
  min-height: 100vh;
  color: #f3e740;
  background-color: #596aff;
}

.App a {
  color: inherit;
  text-decoration: none;
}

.App a:hover {
  color: #47af1d;
  text-decoration: underline;
}

.App a:visited {
  color: inherit;
  text-decoration: none;
}
